<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="{% static 'user/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'user/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'user/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'user/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'user/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'user/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'user/css/main.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>

<body>

  <!-- ======= Header ======= -->
  

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="user-dashboard.html" class="logo d-flex align-items-center">
        
        <h1>Smart Parking<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'user_dashboard' %}" class="active">Dashboard</a></li>
          <li><a href="{% url 'book_slot' %}">Book Slot</a></li>
          <li><a href="{% url 'bookings' %}">My Bookings</a></li>
          <li><a href="{% url 'booking_history' %}">Booking History</a></li>
          <li><a href="{% url 'user-profile' %}">My Profile</a></li>
          <a href="{% url 'user_logout' %}" ><button class="btn btn-sm rounded-3 btn-primary fw-bold m-5">Sign Out</button></a>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="">


  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'user/img/spaces.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'user/img/qr-code.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'user/img/placeholder.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'user/img/parking.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'user/img/qr.png' %}" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="{% static 'user/img/top-view-electric-cars-parking-lot.jpg' %}" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6 p-5">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong class="h2">Cities </strong>(Across South India)</p>
            </div><!-- End Stats Item -->


            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="29" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong class="h2"> Locations</strong></p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
              <p ><strong class="h2">Happy Clients</strong></p>
            </div><!-- End Stats Item -->

           

            

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <h3>Smart Parking.</h3>
        <p> The use of QR(Quick Response) code can overcome the problems of the existing parking system.</p>
        <a class="cta-btn" href="#">Learn More</a>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>It eliminates the drawbacks of existing system like use of RFID, LED, and IR sensors.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-car-front"></i>
              </div>
              <h3>Specific Zone</h3>
              <p>In this system, driver can reserve the parking slot in the specific zone, checking the free slots and reserving it as per the needs of the vehicle.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-qr-code"></i>
              </div>
              <h3>QR Code </h3>
              <p>Further, by generating QR codes, it is possible to encode the unique information of the user into the code.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-clipboard-data"></i>
              </div>
              <h3>Secured Info</h3>
              <p>Client details are securely stored on private servers in order to ensure maximum security,</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>
    </section><!-- End Our Services Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/user/user-dashboard.html" class="logo d-flex align-items-center">
            <span>Codebook</span>
          </a>
          <p>We have provided trainings in many engineering colleges across india. All trainings conducted are as a freelancer from third-party vendors.</p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/user/user-dashboard.html">Dashboard</a></li>
            <li><a href="/user/user-bookslot.html">Book Slot</a></li>
            <li><a href="/user/user-mybookings.html">My Bookings</a></li>
            <li><a href="/user/user-myprofile.html">My Profile</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Siris Rd, Near L.B Nagar Metro Station, Snehapuri Colony, <br>
            Hyderabad<br>
            Telangana<br>
            <strong>Phone:</strong> ex. +91 XXXX-XXXXX<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Codebook</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://codebook.in/" target="_blank">Codebook</a>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  {% if messages %}              
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <script>swal({
              title: "Warning!",
              text: "{{message}}",
              icon: "warning",
              button: "OK",
          });
          </script>
          
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <script>swal({
              title: "Info :)",
              text: "{{message}}",
              icon: "info",
              button: "OK",
          });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <script>swal({
  title: "Error :)",
  text: "{{message}}",
  icon: "error",
  button: "OK",
  });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <script>swal({
  title: "Success :)",
  text: "{{message}}",
  icon: "success",
  button: "OK",
  });
  </script>
      {% endif %}              
      {% endfor %} 
      {% endif %}
  <!-- Vendor JS Files -->
  <script src="{% static 'user/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'user/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'user/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'user/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'user/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'user/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'user/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'user/js/main.js' %}"></script>

</body>

</html>